window_normal #AA6402
window_prelight #6B4C26
window_active #412502
window_inactive #808080
button_normal #FF9600
button_prelight #FFB600
button_active #D98000
button_inactive #945800
menuitem_normal #976115
menuitem_prelight #E88900
menuitem_active #643b00
menuitem_inactive #945800
menuitem_font Verdana:size=10:bold
menuitem_font_normal white
menuitem_font_prelight red
menuitem_font_active black
menuitem_font_inactive grey40
font DejaVu Sans:size=10
font_normal black
font_prelight red
font_active black
font_inactive grey40
autotextcolour 0
usetheme 1
monofont DejaVu Sans Mono:size=14
cursorcolour blue
sbtroughcolour light blue
