.svn
makepackages
dropboxlinks
html
searchdata.xml
*.[oa]
*.l[oa]
*~
.deps/
.dirstamp
*.cache
stamp-*
config.log
config.status
config.guess
config.sub
Makefile
Doxyfile
config.h
libtool
*.BAK
*.bak
*.libs/
*/m4/
HOLD/
LFSToolKit/examples/*example
LFSToolKit/examples/*.html
LFSToolKit/examples/box.png
LFSToolKit/examples/diskmenu.cpp
LFSToolKit/examples/windowtest.cpp
LFSApplications/LFSApplications/app/lfs*
LFSDesktop/LFSDesktop/app/lfs*
LFSDesktop/LFSDesktop/helper/lfshelper
LFSPanel/LFSPanel/app/lfs*
LFSSetWallpaper/LFSSetWallpaper/app/lfs*
LFSWManager/LFSWManager/app/lfs*
LFSWManager/LFSWManager/helper/appmenu
LFSWM2/LFSWM2/app/lfswm2
LFSDock/LFSDock/app/lfsdock
.setup.local
LFSToolKit/examples/a.out
LFSToolKit/examples/diskmenu

*/testdata
LFSEdit/LFSEdit/app/lfsedit
TEMPHOLD
LFSToolKit/examples/RunExamples
*.pc
*/confline
lfstoolkit.rc
sortedcats


LFSToolKit/examples/*.desktop
LFSToolKit/examples/ManPageEditor.lnk.png

AUTHORS
COPYING
INSTALL
NEWS
Makefile.in
aclocal.m4
configure
depcomp
install-sh
missing
compile
ltmain.sh
*.html
.nfs*
devtests

LFSTray/lfstray.sample
LFSTray/LFSTray/app/lfstray
*config.h.in