[Desktop Entry]
Name=LFS Panel Prefs
Comment=Prefs for LFS Panels
Terminal=false
Type=Application
Categories=Gnome;GTK;;Settings;DesktopSettings;
Icon=LFSTKPrefs
Exec=lfspanelprefs