[Desktop Entry]
Name=LFS WM 2 Prefs
Comment=Prefs for LFS Window Manager ( version 2 )
Terminal=false
Type=Application
Categories=Gnome;GTK;;Settings;DesktopSettings;
Icon=LFSTKPrefs
Exec=lfswm2prefs