window_normal grey40
window_prelight #6B4C26
window_active #412502
window_inactive #808080
button_normal #A3A3A3
button_prelight #7B7B7B
button_active #676767
button_inactive #D1D1D1
menuitem_normal #979797
menuitem_prelight #7b7b7b
menuitem_active #676767
menuitem_inactive #d1d1d1
menuitem_font sans:size=8
menuitem_font_normal black
menuitem_font_prelight grey20
menuitem_font_active black
menuitem_font_inactive grey
font sans:size=8
font_normal white
font_prelight grey20
font_active black
font_inactive grey
autotextcolour 0
usetheme 1
monofont Ubuntu Mono:size=16
cursorcolour grey80
