[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KKEdit - Root
Comment=A GTK2 text editor inspired ( but not based on ) BBEdit.
Terminal=false
Type=Application
Categories=System;
MimeType=text/plain
Icon=KKEditRoot.png
